/* SYNTAX */

/* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */

.flex-item {
  /* this */
  flex: 1 100px;

  /* is the same as */
  flex-grow: 1;
  flex-basis: 100px;

  /* and it leaves the flex-shrink property alone, which would be */
  flex-shrink: inherit; /* defaults to 1 */
}

/* COLORS */
.header {
  background: lightyellow;
}

.content-container {
  background-color: lightblue;
}

.nav {
  background: lightcoral;
}

.main {
  background-color: lightgray;
}

.aside {
  background-color: lightsalmon;
}

.footer {
  background-color: lightseagreen;
}

/* DESKTOP */

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.nav,
.aside {
  display: flex;
  flex-direction: column;
  flex: -1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* MOBILE */
@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
}
